.content {
  margin-top: 70px;
  width: calc(100% - 240px);
  min-height: 970px;
  background: $brown;
  @media screen and (min-height: 970px){
    height: calc(100vh - 70px);
}
  @media screen and (max-width: 1090px) {
    padding-bottom: 30px;
  }
  @media screen and (max-width: 900px) {
    width: 100%;
  }
  .content-wrap {
    max-width: 950px;
    width: 95%;
    margin: 0 auto;
    margin-top: 68px;
    @media screen and (max-width: 450px){
        margin-top: 20px;
    }
    .content-top-block {
      width: 100%;
      @extend %flex-row;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 450px){
        flex-direction: column-reverse;
        h1{
            margin-top: 10px;
        }
    }
      h1 {
        font-family: $Roboto;
        font-size: $font-size24;
        font-style: normal;
        font-weight: $font-weight700;
        line-height: $line-height28;
        text-transform: lowercase;
        color: $green2;
      }
      button {
        height: 40px;
        width: 154px;
        border-radius: 4px;
        background: none;
        border: 1px solid $green2;
        font-family: $Roboto;
        font-size: $font-size14;
        font-style: normal;
        font-weight: $font-weight400;
        line-height: $line-height16;
        color: $green2;
        &:hover {
          background: $redOpacity;
          box-shadow: $boxShadow2;
          border: 1px solid $red;
          color: $white;
        }
      }
    }
    .content-tabs {
      margin-top: 24px;
      @extend %flex-row;
      align-items: center;
      justify-content: space-between;
      width: 210px;
      @media screen and (max-width: 900px) {
        margin: 0 auto;
        margin-top: 24px;
      }
   
      li {
        @extend %flex-col;
        span {
          opacity: 0;
          margin-top: 8px;
          width: 100%;
          height: 4px;
          background: $green3;
          border-radius: $borderRadius5px;
          transition: $transition;
        }
        &.tab-active {
          span {
            opacity: 1;
          }
        }
        &:hover {
          cursor: pointer;
          span {
            opacity: 1;
          }
        }
        p {
          font-family: $Roboto;
          font-size: $font-size16;
          font-style: normal;
          font-weight: $font-weight400;
          line-height: $line-height19;
          color: $black2;
        }
      }
    }
    .content-blocks {
      width: 100%;
      min-height: 525px;
      @extend %flex-row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .content-block-wrap {
        margin-top: 25px;
        @extend %flex-col;
        .content-block {
          height: 165px;
          width: 165px;
          border-radius: 10px;
          box-shadow: $boxShadow3;
          border-radius: 10px;
          @extend %flex-col;
          padding: 20px 15px 15px 20px;
          transition: $transition;
          @media screen and (max-width: 450px) {
            height: 145px;
            width: 145px;
            padding: 10px 5px 5px 10px;
          }
          @media screen and (max-width: 350px) {
            height: 130px;
            width: 130px;
            padding: 10px 5px 5px 10px;
          }
          svg {
            width: 20px;
            height: 20px;
          }

          div {
            margin-top: 23px;
            font-family: $Oswald;
            color: $white;
            h2 { 
              font-size: $font-size42;
              font-style: normal;
              font-weight: $font-weight700;
              @media screen and (max-width: 450px){
                font-size: $font-size26;
              }
            }
            p {
              font-size: $font-size11;
              font-style: normal;
              font-weight: $font-weight400;
              line-height: $line-height16;
              letter-spacing: $letter-spacing2;
              @media screen and (max-width: 450px){
                font-size: $font-size10;
                
              }
            }
          }
          span {
            margin-top: 25px;
            @extend %flex-row;
            align-items: center;
            align-self: flex-end;
            p {
              margin-right: 5px;
              font-family: $Roboto;
              font-size: $font-size26;
              font-style: normal;
              font-weight: $font-weight400;
              color: $white;
              @media screen and (max-width: 450px){
                font-size: $font-size14;
              }
            }
            svg {
              width: 7px;
              height: 12px;
            }
          }
        }
        .content-profile {
          margin-top: 10px;
          height: 40px;
          width: 100%;
          border-radius: $borderRadius5px;
          @extend %flex-row;
          transition: $transition;
          div {
            @extend %flex-col;
            justify-content: space-around;
            height: 100%;
            margin-left: 10px;
            font-family: $Roboto;
            font-size: $font-size13;
            font-style: normal;
            font-weight: $font-weight400;
            line-height: $line-height13;
            color: $black2;
            transition: $transition;
            p {
              opacity: 0.5;
            }
            a {
              text-decoration: none;
              color: $black2;
              @media screen and (max-width: 450px) {
                font-size: $font-size9;
              }
            }
          }
        }
        &:hover {
          .content-block {
            filter: brightness(130%);
          }
        }
        .facebook-block {
          background: $gradientBlue1;
        }
        .twitter-block {
          background: $gradientBlue2;
          svg {
            width: 24px;
          }
        }
        .inst-block {
          background: $gradientOrange;
        }
        .lin-block {
          background: $gradientBlue3;
        }
        .yotube-block {
          background: $gradientRed1;
          svg {
            width: 28px;
          }
        }
        .snap-block {
          background: $gradientYellow;
          div {
            h2 {
              color: $black2;
            }
            p {
              color: $black2;
            }
          }
        }
        .google-block {
          background: $gradientRed2;
          svg {
            width: 32px;
          }
        }
        .vine-block {
          background: $gradientGreen2;
        }
      }
    }
  }
}
