.header {
  position: absolute;
  width: calc(100% - 80px);
  height: 70px;
  padding: 0 22px 0 58px;
  background: $whiteOpacity1;
  box-shadow: $boxShadow1;
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
  z-index: 400;
  @media screen and (max-width: 900px) {
    position: fixed;
    background: $gradientGreen;
  }
  .header-btns {
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    div {
      transition: $transition;
      &:hover {
        span {
          background: $red;
        }
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    .header-btn1 {
      position: relative;
      span {
        @extend %flex-center;
        position: absolute;
        left: 8px;
        top: -5px;
        height: 17px;
        min-width: 17px;
        border-radius: $borderRadius50;
        background: $green;
        font-family: $Roboto;
        font-size: $font-size10;
        font-style: normal;
        font-weight: $font-weight700;
        line-height: $line-height12;
        color: $white;
        transition: $transition;
        @media screen and (max-width: 900px) {
          background: $white;
          color: $black;
        }
      }
      svg {
        transition: $transition;
        height: 20px;
        width: 15px;
      }
    }
    .header-btn2 {
      svg {
        transition: $transition;
        height: 20px;
        width: 20px;
      }
    }
  }
}
.show-sidebar {
  position: absolute;
  left: 20px;
  width: 25px;
  height: 20px;
  align-self: center;
  justify-self: start;
  z-index: 400;
  @media screen and (min-width: 900px){
    display: none;
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: $borderRadius4px;
    background: $white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: $transition;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: $borderRadius4px;
    background: $white;
    top: 0;
    left: 0;
    transition: $transition;
    transform: rotate(0deg);
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: $borderRadius4px;
    background: $white;
    bottom: 0;
    left: 0;
    transition: $transition;
    transform: rotate(0deg);
  }
   &.active {
    

    span {
      width: 0%;
    }
    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(-45deg);
    }
  }
}
