.sidebar {
  width: 240px;
  min-height: 970px;
  background: $gradientGreen;
  box-shadow: $boxShadow1;
  position: relative;
  @media screen and (min-height: 970px){
    height: 100vh;
  }
  .sidebar-wrap {
    margin: 0 auto;
    padding-top: 110px;
    width: 200px;
    height: 80%;
    @extend %flex-col;
    @media screen and (max-width: 800px){
        padding-top: 90px;
    }
    .sidebar-profile {
      width: 100%;
      @extend %flex-row;
      align-items: center;
      div {
        margin-left: 10px;
        h1 {
          color: $white;
          font-family: $Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: $font-size14;
          line-height: $line-height16;
        }
        p {
          margin-top: 3px;
          color: $grayOpacity;
          font-family: $Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: $font-size12;
          line-height: $line-height14;
        }
      }
    }
    .sidebar-nav {
      margin-top: 40px;
      @media screen and (max-width: 800px){
          margin-top: 20px;
      }
      ul {
        li {
          @extend %flex-row;
          align-items: center;
          height: 50px;
          width: 180px;
          border-radius: $borderRadius5px;
          padding-left: 20px;
          margin-top: 5px;
          transition: $transition;
          &:hover {
            cursor: pointer;
            background: $grayOpacity2;
            box-shadow: $boxShadow2;
          }
          &.active-link {
            background: $grayOpacity2;
            box-shadow: $boxShadow2;
          }
          a {
            @extend %flex-row;
            align-items: center;
            font-family: $Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: $font-size14;
            line-height: $line-height16;
            color: $white;
            text-decoration: none;
            svg {
              height: 20px;
              width: 20px;
              margin-right: 15px;
            }
          }
        }
      }
    }
    .sidebar-footer {
      position: absolute;
      bottom: 30px;
      margin: 0 auto;
      width: 171px;
      border-top: 1px solid $blackOpacity;
      padding-top: 8px;
      @media screen and (max-width: 800px) {
          position: relative;
          margin-top: 35px;
      }
      div {
        margin-top: 14px;
        @extend %flex-row;
        justify-content: space-around;
        align-items: center;
        li {
          list-style-type: none;
          a {
            font-family: $Roboto;
            font-size: $font-size12;
            font-style: normal;
            font-weight: $font-weight400;
            line-height: $line-height14;
            text-decoration: none;
            color: $green4;
            transition: $transition;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    position: fixed;
    transform: translateX(-100%);
    transition: $transition;
    z-index: 300;


    &.active {
      transform: translateX(0%);
      .sidebar-wrap {
        transform: translateX(0%);
      }
    }
  }
}
