 @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }